<h1>{{titoloAngular}}</h1>
<form ng-submit="crea()">
  <div class="form-group">
    <label for="titolo">Titolo</label>
    <input type="text" class="form-control" id="titolo" placeholder="Inserire un titolo" ng-model="nuovo.titolo">
  </div>
  <div class="form-group">
    <label for="descrizione">Descrizione</label>
    <input type="text" class="form-control" id="descrizione" placeholder="Inserire una descrizione" ng-model="nuovo.descrizione">
  </div>
  <button class="btn btn-success">Crea Todo</button>
</form>

<div id="todo" ng-repeat="todo in lista | orderBy:'_id':true">
  <h2>{{todo.titolo}}</h2>
  <h5>{{todo.descrizione}}</h5>
  <label for="data">Data</label>
  <input id="data" type="date" ng-model="todo.data">
  <label for="fatto">Fatto</label>
  <input id="fatto" type="checkbox" ng-checked="todo.fatto" ng-model="todo.fatto" ng-change="fatto(todo.fatto, todo._id)">
  <button class="btn btn-danger" ng-click="elimina(todo._id)">Elimina</button>
  <hr>
</div>

<hr>

<h1>{{titoloMaterial}}</h1>
<div layout="column" layout-align="start none" layout-fill>
  <form name="userForm" ng-submit="crea()" novalidate>
		<md-content layout="row" layout-align="space-between center">
			<md-input-container>
				<label>Title</label>
				<input ng-model="nuovo.titolo" required>
			</md-input-container>
			<md-input-container>
				<label>Descrizione</label>
				<input ng-model="nuovo.descrizione" required>
			</md-input-container>
			<md-input-container>
				<label>Data</label>
				<md-datepicker ng-model="nuovo.data" required></md-datepicker>
			</md-input-container>
			<md-button type="submit" class="md-fab" aria-label="Eat cake">
				<md-icon md-svg-src="Img/Aggiungi.svg"></md-icon>
			</md-button>
		</md-content>
	</form>

  <md-list>
		<md-subheader class="md-no-sticky">Lista dei Todo</md-subheader>
		<md-list-item class="md-3-line" ng-repeat="todo in lista | orderBy:'_id':true" ng-click="elimina(todo._id)">
			<div class="md-list-item-text" layout="row" layout-align="space-between center">
				<div layout="column">
					<h2>{{todo.titolo | uppercase}}</h2>
					<h4>{{todo.descrizione | lowercase}}</h4>
					<md-checkbox aria-label="Checkbox" ng-model="todo.fatto" ng-change="fatto(todo.fatto, todo._id)">Fatto</md-checkbox>
				</div>
				<md-datepicker ng-model="todo.data"></md-datepicker>
			</div>
			<md-divider></md-divider>
		</md-list-item>
	</md-list>
</div>
